<html>
    <head>
      {% if title %}
      <title>{{ title }} - Canvas Search</title>
      {% else %}
      <title>Canvas Search</title>
      {% endif %}
    </head>
    <body>
        <div>Canvas Search 
          <a href="/access">Access</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>